<extend name="Public/base" />
<block name="main">
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <main class="col-lg-10 col-lg-push-1 message">
                    <div class="message-text clearfix">
                        <div class="textarea-box">
                            <div id="textarea" class="form-control" contenteditable="true" tabindex="4"></div>
                            <div id="smilies" class="dropdown">
                                <span class="smilies-icon"></span>
                                <div class="smilies-box">
                                    <div class="dropdown-arrow1"></div>
                                    <div class="dropdown-arrow2"></div>
                                    <div id="smilies-box" class="submenu">
                                        <ul class="inline-ul">
                                            {$smilies}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <if condition="COOKIE('nickname') eq ''">
                            <img src="__IMG__/Connect_logo_1.png" class="qq">
                            <a href="{:U('Login/login',array('type'=>'qq'))}">QQ登陆</a>
                        <else />
                            <div class="other-login">
                                <img src="{$head}" class="img-circle">
                                <a>{$nickname}</a>&nbsp;
                                <a href="{:U('Login/loginOut')}">退出</a>
                            </div>
                        </if>
                        <div class="form-inline">
                            <if condition="COOKIE('nickname') eq ''">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nickname" placeholder="昵称(必填)">
                                </div>
                            </if>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="邮箱(必填)">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="web" placeholder="网站(可选)">
                            </div>
                            <button type="submit" class="btn btn-default">发布</button>
                        </div>
                    </div>
                    <if condition="COOKIE('nickname') neq ''">
                    <div class="git_url">
                        源码地址：<a href="https://github.com/xxfpurple/xxfblog1.0" target="_blank">https://github.com/xxfpurple/xxfblog1.0</a>
                    </div>
                    </if>
                    <volist name="list" id="row">
                        <article class="post twitter-post">
                            <div class="message-content clearfix">
                                <div class="message-head">
                                    <if condition="$row['uid'] eq 1">
                                        <img src="__ROOT__/Uploads/{$web['logo']}" class="img-circle">
                                        <else />
                                        <img src="{$row['head']}" class="img-circle">
                                    </if>
                                </div>
                                <div class="post-footer clearfix">
                                    <div class="pull-left">
                                    <span class="message-icon">
                                        <i class="fa fa-user"></i>
                                        <if condition="$row['web_url'] neq ''">
                                            <a href="{$row['web_url']}" target="_blank">{$row['nickname']}</a>
                                            <else />
                                            {$row['nickname']}
                                        </if>
                                    </span>&nbsp;
                                        <time class="message-icon" title="{$row['create_time']}">
                                            <i class="fa fa-clock-o"></i>
                                            {$row['create_time']}
                                        </time>&nbsp;
                                    <span class="message-icon">
                                        <i class="fa fa-map-marker"></i>
                                        {$row['province']} · {$row['city']}
                                    </span>
                                    </div>
                                </div>
                                <div class="post-content ">
                                    <p>{$row['content']}</p>
                                </div>
                            </div>
                            <if condition="!empty($row['reply'])">
                                <div class="hr">
                                    <hr>
                                    <div class="message-reply">
                                        <div class="message-head">
                                            <img src="__ROOT__/Uploads/{$web['logo']}" class="img-circle">
                                        </div>
                                        <div class="post-footer clearfix">
                                            <div class="pull-left">
                                                <span class="message-icon">
                                                    <i class="fa fa-user"></i>
                                                    {$row['reply']['nickname']}
                                                </span>&nbsp;
                                                <time class="message-icon" title="{$row['create_time']}">
                                                    <i class="fa fa-clock-o"></i>
                                                    {$row['reply']['create_time']}
                                                </time>&nbsp;
                                                <span class="">
                                                    回复 @{$row['reply']['p_name']}
                                                </span>&nbsp;
                                            </div>
                                        </div>
                                        <div class="post-content ">
                                            <p>{$row['reply']['content']}</p>
                                        </div>
                                    </div>
                                </div>
                            </if>
                        </article>
                    </volist>
                </main>
            </div>
            <nav class="pagination" role="navigation">
                {$page}
            </nav>
        </div>
    </section>
</block>
<block name="script">
    <script>
        $('.smilie-close').click(function(){
            $('#smilies').removeClass('selected');
        });
        $('.smilies-icon').click(function(){
            $('#smilies').addClass('selected');
        });

        $('.smilie-click').click(function(){
            var _this = $(this);
            $('#textarea').append(_this.html());
            $('#smilies').removeClass('selected');
        });

        $('.btn').click(function(){
            var nickname = $('#nickname').val(),
                    email = $('#email').val(),
                    web = $('#web').val(),
                    content = $('#textarea').html();
            if(content == ''){
                alert('内容不能为空!');
            }else if(nickname == ''){
                alert('昵称不能为空!');
            }else if(email == ''){
                alert('邮箱不能为空!');
            }else{
                $.ajax({
                    url:'{:U("Message/post")}',
                    type:'POST',
                    data:{nickname:nickname,email:email,web:web,content:content},
                    success:function(data){
                        if(data.status){
                            alert('留言成功！');
                        }else{
                            alert(data.info);
                        }
                    }
                });
            }
        });
    </script>
</block>


